.about-section{
    background-color: rgb(238, 244, 248);
    height: 100vh;
    height: auto;
    display: flex;
}
.about-box{
    border: 1.5px solid #fff;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    height: 560px;
    height: auto;
    width: 55%;
    
    
}
.about-logo{
    border: 1.5px solid #fe695d;
    display: flex;
    width: 20%;
    height: 28%;
    border-radius: 120px;
    margin: 20px auto;
    padding: auto;
   

}
.about-logo-img{
    height: 90px;
    margin: auto;
}
.about-header{
    text-align: center;
    color: #333333;
}
.about-content{
    text-align: justify;
    max-width: 80%;
    margin: 30px auto;
    color: #818181;
    line-height: 1.5;
}
.about-content p{
    margin-bottom: 20px;
}
.about-content li{
    margin-bottom: 10px;
}
.about-content h2{
    margin-bottom: 5px; 
}
.social-links{
    margin: 8px 0;
}
.icon-box{
    display: flex;
    justify-content: flex-end;
}
.icons{
    margin: 12px;
    padding: 3px;
}
.icons i{
    color: #333;
    width: 20px;
}
.icons i:hover{
    transition: 0.3s;
    color: #000;
}